# An√°lisis de Usuarios

In [1]:
import pandas as pd

In [26]:
df_users_julio =  pd.read_csv('data/csvs/junio (diputades)/users.csv', parse_dates=['created_at'])

In [27]:
df_users_agosto = pd.read_csv('data/csvs/agosto (senadores)/users_agosto.csv', parse_dates=['created_at'])

In [28]:
len(df_users_julio)

329782

In [29]:
len(df_users_agosto)

74324

In [19]:
df_users = pd.read_csv('data/csvs/junio (diputades)/top_users_no.csv', parse_dates=['created_at'])

In [34]:
df_users_julio.location.unique()

array(['Escalada casi Banfield,Bs As', 'Celaya, Guanajuato',
       'C√≥rdoba, Argentina', ..., 'ùñçùñãùñê ùñôùñîùñöùñó 6.9',
       'uruguay| tvd, pll, to, skam', 'San Mart√≠n de las Pir√°mides, M'],
      dtype=object)

In [36]:
df_users_julio.head()

,screen_name,location,followers_count,statuses_count,description,friends_count,favourites_count,created_at,id,name,verified
0,beautyinarose,"Escalada casi Banfield,Bs As",427,50613,"Taladrista por adopci√≥n, pero ya en la sangre....",791,10199,2009-01-23 15:38:24+00:00,19398656,Jules Caccaglio,False
1,DanielMort_,"Celaya, Guanajuato",722,18823,~ Admin de @DeditosHelp & Mod de @dedreviil ~ ...,178,13596,2016-10-28 03:17:25+00:00,791841268879851520,DanielMort_ üó°,False
2,VioleGallotti98,"C√≥rdoba, Argentina",1390,6576,Bariloche ‚Äò15.,1107,13425,2014-07-25 18:07:57+00:00,2680160258,ŒΩŒπœÉl—î—ÇŒ± gŒ±llœÉ—Ç—ÇŒπ,False
3,Lucia_Achigar,Montevideo,631,3130,Fan de las versalitas.,876,11690,2011-03-04 00:15:24+00:00,260492029,Luc√≠a Achigar üíö,False
4,florgimenezc,"C√≥rdoba, Argentina",1174,25947,Veintitr√©s del cuatro del noventa y seis. Dere...,360,9978,2012-05-08 16:59:21+00:00,574707030,peto,False

In [37]:
df_users_julio.columns

Index(['screen_name', 'location', 'followers_count', 'statuses_count',
       'description', 'friends_count', 'favourites_count', 'created_at', 'id',
       'name', 'verified'],
      dtype='object')

In [38]:
df_users_agosto.columns

Index(['screen_name', 'location', 'followers_count', 'statuses_count',
       'description', 'friends_count', 'favourites_count', 'created_at', 'id',
       'name', 'verified'],
      dtype='object')

In [39]:
df_users_agosto.favourites_count

0          305
1          189
2         5076
3          113
4           28
5         1473
6         1954
7        25907
8        10395
9         6530
10          12
11        1383
12        5548
13         490
14        8914
15        3077
16        1715
17       33933
18        6260
19       17626
20        6330
21        4580
22         883
23         186
24        3083
25        1288
26        6263
27        1199
28        2119
29       13913
         ...
74294    98850
74295     2508
74296    32792
74297     4999
74298    14828
74299    18220
74300     8261
74301    25595
74302     8976
74303     6231
74304     1573
74305    28608
74306     6201
74307       87
74308     2808
74309      508
74310    24958
74311     3243
74312      825
74313     1314
74314    18028
74315      163
74316     5403
74317    30130
74318     7415
74319    27398
74320    12148
74321     6183
74322     5540
74323    40576
Name: favourites_count, Length: 74324, dtype: int64